.na{ /* Note A */
  background-color: #1F55BC;
}

.nas{ /* Note A# */
  background-color: #228692;
}

.nb{ /* Note B */
  background-color: #1a826e;
}

.nc{ /* Note C */
  background-color: #055340;
}

.ncs{ /* Note C# */
  background-color: #AA51A1;
}

.nd{ /* Note D */
  background-color: #b15366;
}

.nds{ /* Note D# */
  background-color: #525229;
}

.ne{ /* Note E */
  background-color: #249041;
}

.nf{ /* Note F */
  background-color: #90673e;
}

.nfs{ /* Note F# */
  background-color: #e3004b;
}

.ng{ /* Note G */
  background-color: #ea6d35;
}

.ngs{ /* Note G# */
  background-color: #0e3803;
}

.fret_place {
  cursor: pointer;
  border-bottom: 0.5px solid black;
  background-image: url("../img/fret.png");
  background-size: cover;
  min-height: 2vw;
}

.empty_string {
  background-color: #363636;
  border-bottom: 0.5px solid black;
}

.fret_mark{
  width: 80%;
  text-align: center;
}

.fret_place:nth-child(odd) {
  border-left: 2px solid black;
  border-right: 2px solid black;
  width: 4%;
}

.fixed_tuning, .fixed_octave{
  text-align: center;
  border: solid 1px black;
}

#fretboard div {
  user-select: none;
}

#fretboard {
  min-width: 1160px;
}
